    .ir-arriba {
        display:none;
        padding:30px;
        background-repeat: no-repeat;
        font-size:20px;
        color:black;
        cursor:pointer;
        position: fixed;
        bottom:20px;
        right:20px;
        z-index: 2;
    }
    
    /*Estilos para hacer las imagenes responsivas */
    .img-carousel-responsive{
        width: 100%;
        height: 580px;
    }
    .img-carousel-responsive2{
        width: 100%;
        height: 360px;
    }
    .img-serv{
        width: 35%;
        height: 280px;
    }
    @media(max-width: 520px){
        .img-carousel-responsive{
            width: auto;
            height: auto;
        }
        .img-carousel-responsive2{
            width: auto;
            height: auto;
        }
        .img-serv{
            width: auto;
            height: auto;
        }
    }
    
    /*Modificaion de los estilos de bootstrap 4.1*/
/*    .dropdown:hover>.dropdown-menu{
        display: block;
    }*/
/*    ul li:hover{
        background: #000;
    }
    .dropdown-menu{
        background: #C2C6C5;
    }*/
    
    /*Efecto sombra tranparente*/
    .sombra{
    /*background-color: black; opacity: 1.1;*/
    /*background: #000;*/
    filter:brightness(0.7);
}